.wics-notranslate     { background-color: lightgrey; }
.wics-langinfo        { background-color: lightgrey; }
.wics-locnote         { background-color: yellow;    }
.wics-terminology     { background-color: lime;      }
.wics-textanalysis    { background-color: magenta;   }
.wics-locqualityissue { color: red;                  }
.wics-locqualityissue-disabled { color: black;       }
.wics-withintext      { color: deepskyblue;          }

.wics-image           { vertical-align: middle;      }
.wics-tip             { cursor: pointer;             }
.wics-no-tip          { cursor: auto;                }


.wics-fragment {
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 10px;
}

.wics-fragment-selected { border: 3px solid red; }


.wics-tip-selected {
	-webkit-box-shadow: 0px 0px 11px rgba(6, 122, 255, 1);
	-moz-box-shadow:    0px 0px 11px rgba(6, 122, 255, 1);
	box-shadow:         0px 0px 11px rgba(6, 122, 255, 1);
	text-decoration: underline;
}

.wics-note {
	border: 1px solid lightgrey;
	border-radius: 5px;
	position: relative;
	margin-bottom: 10px;
}
		
.wics-note-selected {
	border-color: black;
}

.wics-note-top {
       	height: 35px;
       	background: lightgrey;
       	padding: 5px;
       	border-radius: 5px 5px 0px 0px;
        overflow-y: hidden;
}
	
.wics-note-close {
       	position: absolute;
       	top: 8px;
       	right: 10px;
       	border-radius: 5px;
       	color: red;
       	padding: 5px;
       	width: 100px;
       	text-align: center;
       	cursor: pointer;
       	font-weight: bold;
       	border: 1px solid #222;
       	background: #eee;
}
		
.wics-note-name {
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
}
		
.wics-note-text { padding: 10px; }


#wics-goto-window {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	position: fixed;
	padding: 15px 20px;
	border: 1px solid #333;
	border-radius: 5px;
	top: 100px;
	background: #fff;
}

#wics-goto-num { width: 3em; }

#wics-navbar {
	padding: 5px 10px 0px 10px;
	line-height: 23px;
	overflow: hidden;
}

#wics-navbar I {
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	background: #ddd;
	border-radius: 4px;
	font-size: 10px;
	cursor: pointer;
	padding: 2px;
        white-space: nowrap;
        color: black;
}

#wics-navbar I SPAN { font-weight: normal; }
#wics-navbar I:hover { background: #eee; }

#wics-upperframe {
	height: 250px;
	overflow-y: auto;
	overflow-x: auto;
	border: 1px solid silver;
	padding: 5px;
	margin: 10px;
}

#wics-lowerframe {
	height: 350px;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid silver;
	padding: 5px;
	margin: 15px 10px 10px 10px;
        color: black;
}
